.conteiner{
    background-color: whitesmoke;
    height: 1000px;
}
.header {
    background-color: green;
    color: white;
    height: 10g0px;
    font-size: 34px;
    text-align: center;
    padding-top: 20px;
}
.input{
    width: 500px;
    height: 40px;
    border-radius: 13.27px;
    padding-left: 10px;
}
.form{
    height: 400px;
    width: 800px;
    margin-top: 20px;
    flex-direction: row;
    background-color: rgba(0, 255, 0, 0.2);
    padding-block: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 13.27px;
}
.text{
    font-size: 12px;
}
.card{
    margin-top: 20px;
    color: black;
}
.button{
    color: black;
    font-weight: bold;
    height: 70px;
    width: 200px;
    border-radius: 13.27px;
    background-color: greenyellow;
    margin-top: 30px;
}
.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    background: white;
}

.table th, .table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    color: black;
}

.table th {
    background-color: green;
    color: white;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
    margin-top: 24px;
}

.error {
    color: red;
    text-align: center;
}

.cadastrarButton {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    right: 30px;
    top: 100px;
}

.cadastrarButton:hover {
    background-color: #0056b3;
}